#center
{
    text-align: center;
    background-color: burlywood;
    padding: 224px 188px;
    font-size: 50px;
}
.height
{
    height: 47px;
    width: 300px;
}
button
{
    height: 48px;
    width:212px;
    font-size: 30px;
}

